* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main {
    background-color: #FBFAFC;
    height: 100dvh;
    padding: 2rem 10rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar {
    display: flex;
    padding: 1.5rem 0;
    justify-content: space-between;
    border-bottom: 1px solid #ddd8f2;
}
.progress-wrapper {
  display: flex;
   width: 15%;
  align-items: center;
  gap: 8px;
  font-size: 13px;

}
#progress-end {
    color:#9e9aad;
}

.progress-track {
  flex: 1;
  height: 6px;
  background: #F2F0F6;
  border-radius: 5px;
}
#progress-fill {
  width: 0%;
  height: 100%;
  background: #7056E8;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.title{
    font-size:1.8rem;
    font-weight: 600;
    color: #201362;
}

#q-icon {
    background-color: #7056E8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 15px;
    box-shadow: 0px 10px 20px -5px rgba(105, 105, 105, 0.60);
    border-radius: 20px;
}

.content-navbar {
display: flex;
gap: 2rem;
margin-top: 2rem;
align-items: center;
}

.question-number {
    color: #7056E8;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3.5px;
}

.question-difficulty {
    font-weight: 500;
    font-size: 0.8rem;
    padding: 6px 12px;
    border-radius: 8px;

}

.difficulty-easy{
    background-color: #E5F7EE;
    color: #258158;
}

.difficulty-medium{
    background-color: #FFF3D9;
    color: #A26D07;
}

.difficulty-hard {
    background-color: #FFEBEE;
    color: #BD5460;
}

.question-div {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   padding: 2rem 0;

}
.question-category {
    color:#9e9aad;

}
.question-text {
    font-size: 2.5rem;
    font-weight: 500;
    color: #201362;
}

.choices {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem;
    background-color: white;
    border-radius: 16px;
    border: 1px solid #D8D6D6;
    font-size: 1rem;
    transition-property: box-shadow, transform;
      transition-duration: 350ms;
      transition-timing-function: ease;
}

.choice:hover{
    border: 1px solid #7056E8;
    box-shadow: rgba(141, 132, 182, 0.1) 0px 4px 20px;
     transform: translateY(-8px);

}
.btnInfo {
    display: flex;
   gap: 10px;
}
.check-icon {
background-color: #7056E8;
  color: #FFEBEE;
  font-size: 16px;
  width: 40px;
  height: 40px;
 border-radius: 50%;
 justify-content: center;
 align-items: center;
}

.choice:focus{
    border: 1.5px solid #7056E8;
  box-shadow: rgba(85, 75, 134, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 16px;
   transition-timing-function: ease-in-out;
  transform: translateY(-8px);
}

.button {
    background-color: #7056E8;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #846de8;
}

.end-of-questions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.endQuizSubTitle {
    text-align: center;
    color: #7056E8;
}

.endOfQuizDescription {
    font-size: 3rem;
}

.scoreDiv {
    background-color: plum;
padding: 1rem 2rem;
}

.scoreTitle {
    color:#7f7c8a;
}

.scoreDisplayDiv {
    padding: 2.5rem 1rem;
    background-color: #211E32;

}

.scoreDisplay {
    color: #9e9aad;
}
